<div class="flex w-screen justify-center p-4 h-screen box-border login-background__grid">
  <div class="w-1/2 h-full grid place-items-center">
    <div class="flex items-center justify-center min-h-screen">
      <div class="w-full max-w-md bg-white p-7 rounded-lg">
        <div class="mb-10">
          <h1 class="text-4xl">Log in to your account</h1>
          <p>Enter your email address and pasword to login</p>
        </div>
        <form class="space-y-6">
          <div class="relative">
            <mat-form-field appearance="outline" class="w-full custom-form-field">
              <mat-icon matPrefix class="text-gray-500">email</mat-icon>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Email address or user name">
              @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
              <mat-error>Please enter a valid email address</mat-error>
              }
              @if (emailFormControl.hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="relative">
            <mat-form-field appearance="outline" class="w-full custom-form-field">
              <mat-icon matPrefix class="text-gray-500">lock</mat-icon>
              <input placeholder=" Password" matInput type="password" />
              <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()">
                <mat-icon class="text-gray-500">{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <div class="text-right">
              <a href="#" class="text-blue-500 hover:underline text-sm">forgot password</a>
            </div>
          </div>
          <button class="w-full h-12 bg-green-500 text-white hover:bg-green-600 rounded-lg">
            Login
          </button>
          <div class="flex items-center space-x-4">
            <hr class="flex-1 border-gray-300" />
            <span class="text-gray-500 text-sm">or</span>
            <hr class="flex-1 border-gray-300" />
          </div>
          <button
            class="w-full flex items-center justify-center space-x-2 border border-gray-300 rounded-md py-2 hover:bg-gray-100">
            <img src="/images/google.png" alt="google" class="size-5 inline-block">
            <span>Google</span>
          </button>
        </form>
        <div class="mt-6 text-center text-gray-500 text-sm">
          Don't you have an account? <a href="#" class="text-blue-500 hover:underline">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/2  h-full">
    <div class="bg-gray-300 rounded-3xl h-full grid place-items-center">
      <img src="/images/login-illustrator.png" class="w-8/12" alt="login">
    </div>
  </div>
</div>
